* {
  padding: 0px;
  margin: 0px;
}

.genDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr;
}

.headerImg {
  background-image: url(airplane.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 1 / span 3;
  grid-row: 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  color: white;
  text-align: center;
  align-items: center;
}

.headerImg h1 {
  font-size: 80px;
}

.headerImg h2 {
  font-size: 40px;
}

main {
  grid-column: 2;
  grid-row: 2;
  margin: 20px;
  background-color: rgb(240, 239, 239);
  box-shadow:15px 15px 10px grey;  
}

main h1 {
  margin-left: 10px;
}

form {
  margin: 20px 10px;
}

form input, select, button {
  margin: 10px 10px;
}

.entInfo > * {
  margin: 25px 10px;
}

hr {
  width: 100%;
}
